@{
    ViewData["Title"] = "Home Page";
}


    <table border="0" width="100%">
        <tr>
            <td><img src="/image/720/960/product.jpg" style="border: 1px solid #555;" /></td>
            <td><img src="/image/500/600/product.jpg" style="border: 1px solid #555;" /></td>
            <td><img src="/image/260/350/product2.jpg" style="border: 1px solid #555;" /></td>
            <td><img src="/image/250/250/product2.jpg" style="border: 1px solid #555;" /></td>
            <td><img src="/image/720/960/product2.jpg" style="border: 1px solid #555;" /></td>
        </tr>
    </table>

